body {
    display: flex;
    background: black;
    flex-flow: column wrap;
    justify-content: center;
}
.text-container {
    text-align: left;
  font-family: 'Source Code Pro', monospace;
  color:white;
}
h1 {
    font-size: 20px;
}
.game-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 300px;
}
button {
  height: 300px;
  width:300px;
  margin: 50px;
  border: 5px solid white;
  font-size: x-large;
  background-color: black;
  color:white;
  cursor:pointer;
  
} 
button:hover {
  background-color: white;
  color:black;
}
.cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:white;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
  }
  h1.cursor::after {
    height:24px;
    width:13px;
  }
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 33% 0%;
    
    }
    50% {
      background-position: 66% 100%;

    }
    100% {
      background-position: 66% 100%
    
  }
}